html,
body {
  padding: 0;
  margin: 0;
  outline: none;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  box-sizing: border-box;
  margin: 0;
}

.navbar {
  width: 100%;
  height: auto;
  background-color: rgb(213, 213, 213);
  filter: drop-shadow(0px 5px 5px lightgrey);
  font-size: 3.5vw;
  font-weight: 900;
  color: darkgreen;
}

.searchBar {
  width: 85%;
  background-color: orange;
}

.search {
  width: 85%;
  margin: 3vh auto;
}

.icon {
  width: 8vw;
  height: 8vw;
  margin: auto 10vw auto 20vw;
  image-rendering: pixelated;
}

.button-container {
  padding: 1rem;
  display: grid;
  margin: auto;
  width: 90%;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.container {
  width: 100vw;
  margin: 0;
  height: auto;
}

.con {
  margin: auto;
  display: flex;
  justify-content: center;
  place-items: center;
}

.but {
  margin: 2vh;
  color: mediumseagreen;
  background: rgb(250, 250, 250);
  border-radius: 2rem;
  font-weight: 600;
  width: 90%;
  font-size: 1.2rem;
  height: auto;
  border: 1px solid mediumseagreen;
}

.but:hover {
  color: white;
  background-color: mediumseagreen;
  border: transparent;
  filter: none;
}

.news-card {
  width: 40%;
  float: left;
  margin-left: 5vw;
  margin-bottom: 10vh;
  border-radius: 0.5rem;
  padding: 0.1rem;
  filter: drop-shadow(5px 5px 10px lightgrey);
  transition: all ease-in-out linear 200ms;
  height: auto;
}

.news-image {
  width: 50;
  border-radius: 0.5rem;
  height: 10;
}

.news-heading {
  height: auto;
  padding: 0.1rem;
  line-height: 2rem;
  font-size: 5.5vh;
  font-weight: 800;
  text-align: left;
  margin: 2vh auto;
}

.news-info {
  padding: 0.1rem;
  height: auto;
  font-size: 3vh;
  line-height: 1.5vw;
  margin: 2vh auto;
  color: grey;
}

@media (max-width: 600px) {
  .navbar {
    font-size: 3.5vh;
  }

  .icon {
    margin-top: 12%;
    width: 7vh;
    height: 7vh;
  }

  .container {
    background-color: rgb(250, 250, 250);
  }

  .button-container {
    column-gap: 1vh;
    row-gap: 2vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 88%;
    margin: auto;
  }

  .but {
    text-align: center;
    width: 95%;
    font-size: 95%;
    padding: 0.2rem 0.5rem;
    margin: 0;
  }

  .news-card {
    float: none;
    width: 85%;
    border-radius: 0.5rem;
    margin: 2vh auto;
    filter: drop-shadow(5px 5px 10px lightgrey);
    transition: all ease-in-out linear 200ms;
  }

  .news-image {
    width: 50;
    border-radius: 0.5rem;
    height: 50;
  }

  .news-heading {
    font-size: 3.5vh;
    margin: 0;
  }

  .news-info {
    margin: 0;
    margin-top: -1.5vh;
    font-size: 2vh;
    line-height: 2.5vh;
  }
}
